.menu-header {
    background: url('https://shorturl.at/mOU19') no-repeat center;
    background-size: cover;
    padding: 10rem 0;
}

.menu-title {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.drink {
    display: flex;
    gap: 1.5rem;
    margin: 1rem;
}

.drink-image {
    height: 450px;
    width: min-content;
    border-radius: 12px;
}

.drink-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    height: 450px;
}

.drink-header {
    font-size: 1.5em;
    text-decoration: underline #a3bb36;
}

.drink-desc {
    max-width: 40rem;
}

.drink-price {
    font-style: italic;
    text-decoration: underline 0.2px;
}

@media only screen and (max-width: 800px){
    .drink {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}