@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* #region Header */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
    gap: 3rem;
}

.nav-logo {
    width: 4rem;
}

.nav-menu {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

.nav-links {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    height: 3px;
    width: 30px;
    background-color: black;
    margin: 5px 0;
}

@media only screen and (max-width: 800px) {
    .burger{
        display: block;
    }

    .navbar {
        justify-content: space-evenly;
    }

    .nav-menu {
        position: absolute;
        top: 6rem;
        padding-bottom: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        transition: transform 250ms ease-in-out;
        transform: translateX(-100%);
    }

    .nav-active {
        transform: translateX(0%);
    }
}

/* #endregion */

/* #region Footer */

.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
    background-color: black;
    color: white;
    font-weight: 200;
    text-align: center;
}

.footer-logo {
    width: 128px;
    transition: transform 0.5s ease;
}
.footer-logo:hover {
    transform: rotate(180deg);
}

.links-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-weight: 300;
    font-size: 2.5em;
}

.footer-copyright {
    font-weight: 100;
    font-size: 1.2em;
}

.footer-listing {
    display: flex;
    gap: 2rem;
}

.footer-link {
    list-style-type: none;
}

@media only screen and (max-width: 800px){
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer-title {
        display: none;
    }

    .footer-listing {
        flex-direction: column;
        gap: 1rem;
    }
}

/* #endregion */

/* #region Underline */

.underline-effect-navbar, .underline-effect-footer{
    position: relative;
    text-decoration: none;
}
.underline-effect-navbar::after {
    content: "";
    position: absolute;
    background-color: green;
    height: 2px;
    width: 0%;
    left: 50%; /* Inizia dal centro */
    transform: translateX(-50%); /* Sposta a sinistra per centrare l'effetto */
    bottom: 0;
    transition: width 150ms ease-in-out, left 150ms ease-in-out; /* Aggiunto anche la transizione per il movimento dal centro */
}
.underline-effect-footer::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0%;
    left: 50%; /* Inizia dal centro */
    transform: translateX(-50%); /* Sposta a sinistra per centrare l'effetto */
    bottom: 0;
    transition: width 150ms ease-in-out, left 150ms ease-in-out; /* Aggiunto anche la transizione per il movimento dal centro */
}
.underline-effect-navbar:hover::after, .underline-effect-footer:hover::after{
    width: 100%;
}
@media only screen and (max-width: 800px){
    .underline-effect-navbar::after, .underline-effect-footer:hover::after {
        display: none;
    }
}
a {
    color: inherit;
    text-decoration: none;
}

/* #endregion */

/* #region Site */

::selection {
    background-color: orange;
    color: white;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #a3bb36;
}

/* #endregion */