.header {
    font-size: 2em;
}

/* #region ImageBackgroundText */

.image-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://shorturl.at/cIQ79') no-repeat center;
    background-size: cover;
    padding: 15rem 2rem;
}

.image-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.upper-image-text {
    font-size: 2.5em;
    font-weight: 500;
}

.downer-image-text {
    font-size: 1.5em;
    font-weight: 400;
}

/* #endregion */

/* #region HomeObjective */

.objective-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    padding-top: 1rem;
    color: black;
}

.objective-point-breaker {
    position: relative;
    width: 4px;
    border: double 4px green;
    border-radius: 50%;
}

.objective-logo {
    width: 5rem;
    animation: obj-logo-rotate 10s linear infinite;
}
@keyframes obj-logo-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.objective-title {
    margin-top: -0.5rem;
}

.objective-exp-home-p {
    margin: 0 0.5rem;
    margin-bottom: 1rem;
}

/* #endregion */

/* #region HomeIngredients */

.ingredients-home-container {
    display: flex;
    flex-direction: column;
    padding: 10rem 1rem;
    gap: 0.5rem;
    background: url('https://shorturl.at/fgvL1') no-repeat;
    background-size: cover;
    color: white;
}

.ingredients-responsabile {
    opacity: 0.5;
    font-size: 0.7em;
}

@media only screen and (max-width: 800px) {
    .ingredients-home-container {
        text-align: center;
        background-position: right;
    }
}

/* #endregion */

/* #region HomeMenu */

.menu-home-container {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.menu-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 1rem;
}

.menu-nav-div {
    text-align: center;
    padding: 1rem 0;
}

.link-home-menu {
    color: #ff8800;
}

.drink-item {
    width: 350px;
    height: 350px;
    border-radius: 12px;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    cursor: pointer;
}

.text-menu-container {
    color: white;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 150ms linear;
}
.text-menu-container:hover {
    opacity: 1;
}

.item-home-menu-title {
    font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
  .text-menu-container {
    opacity: 1;
  }

  .menu-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80vw;
  }
}

/* #endregion */